body {
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 5px dotted red;
    display: flex;
    /* enables flexbox in the parent*/

    /* the default values of flexbox in direction and wrap is row nowrap*/
    /* flex-direction: row-reverse;
    flex-wrap: nowrap; */

    /* the shorthand of the two properties above is flex flow */
    flex-flow: row wrap;
    justify-content: center;
    /* default: it occupies all the space that are
		inside the parent container*/
}

li {
    border: 1px solid #999;
    margin: 0.5em;
    padding: 0.5em;
}

.flex2 {
    border: 5px dashed blue;
    order: 2;
    flex: 2 1 25%;
}

/* 1:13:54 */